.container{
    flex: 7;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.weatherComponents{
    display: flex;
    gap: 20px;
}

.summaryWeather{
    width: 300px;
    height: 250px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.summaryWeather h6{
    font-weight: bold;
    font-size: 16px;
}

.summaryWeather .top{
    display: flex;
    justify-content: space-between;
}

.summaryWeather .middle{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summaryWeather .middle h6{
    font-weight: bold;
    font-size: 60px;
}

.summaryWeather .bottom .info span{
    font-weight: bold;
}

.summaryWeather .weatherIcon img{
    width: 100px;
    height: 100px;
}

.searchDate{
    width: fit-content;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 20px;
}

.dateRange{
    display: flex;
    align-items: center;
    gap: 20px;
}

.searchDate .button{
    width: 100%;
    display: flex;
    justify-content: center;
}

.searchDate .button button{
    border: none;
    outline: none;
    padding: 5px;
    background-color: var(--activeButton);
    cursor: pointer;
    color: white;
}

.inDepthWeather{
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    width: 620px;
    height: 250px;
    display: flex;
    flex-direction: column;
}

.inDepthWeather .headers{
    width: 100%;
    /* height: 10%; */
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.inDepthWeather .headers h6{
    font-size: 15px;

}

.data{
    width: 100%;
    height: 90%;
    overflow: auto;
    display: flex;
    justify-content: space-between;
}

.temperatureData{
    display: flex;
    gap: 5px;
    align-items: center;
}

.temperatureData img{
    height: 15px;
    width: 15px;
}